* {
    margin: 0;
}
.about {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-na-container {
    position: absolute;
}

.about-h1 {
    font-size: 2.5rem;
}
.about-h2 {
    font-weight: normal;
    font-size: 1.7rem;
}

.about-name {
    color: #6090e8;
}