* {
    margin: 0;
}

.about-page {
    margin: 20px 35px;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about-h1 {
    font-size: 2.5rem;
}

.about-h2 {
    font-weight: normal;
    font-size: 1.7rem;
}

.about-name {
    color: var(--text-blue);
}

.about-me {
    color: var(--text-gray)
}

.about-description {
    max-width: 550px;
    margin-top: 8px;
    color: var(--secondary-text-color);
}

.skill-container {
    margin-top: 10px;
}

.skill-container>h3 {
    color: var(--text-gray);
}

.about-contact-container {
    margin: 60px 0px;
}

.about-btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.about-btn-link {
    display: block;
}