/* Style the box under mouse cursor  */
.cursor {
    /* Variables */
    --x: 0px;
    --y: 0px;
    --visible: hidden;
    --visibility-duration: 0s;
    --visibility-timing: ease-in;
    --visibility-delay: 0s;
    /* style */
    visibility: var(--visible);
    opacity: 1;
    position: fixed;
    left: var(--x);
    top: var(--y);
    width: 80px;
    height: 80px;
    filter: blur(60px);
    border-radius: 50%;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    transform: translate(-50%, -50%);
    z-index: -999;
    transition: visibility var(--visibility-duration) var(--visibility-timing) var(--visibility-delay),
        opacity 0.4s ease-in-out;
}