/* Style location and my name */
.location {
    color: #b5b5b5;
    margin: 0;
    display: flex;
    align-items: center;
}

.location>p {
    margin: 5px;
}

.home-name {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 10px;
    color: #d6d6d6;
    margin: 0;
    font-size: 10rem;
    display: block;
}


/* Style links */
.home-container {
    font-size: 1.4rem;
}

.link {
    text-decoration: none;
    color: #efefef;
    margin-right: 20px;
}

.link:hover {
    color: #6090e8;
}

.link-arrow {
    visibility: hidden;
    color: #6090e8;
    transition: visibility 100ms ease-in-out;
}

.link:hover .link-arrow {
    visibility: inherit;
}

/* Media Queries */
@media screen and (max-width: 480px) {
    .home-name {
        letter-spacing: 2px;
    }

    .home-name>span {
        font-size: 5.8rem;
    }

    .home-container {
        font-size: 1rem;
    }
}