/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* root style */
:root {
  background: linear-gradient(120deg, #0b1215, #0a0a0a, #0b1215);
  background-color: #0a0a0a;
  background-repeat: no-repeat;

  /*scroll-behavior: smooth;*/
  /* prevent text selection */
  /*-webkit-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
}

@layer base {
  h1 {
    @apply font-bold text-4xl md:text-5xl xl:text-6xl;
  }
  h2 {
    @apply font-semibold text-3xl md:text-4xl xl:text-5xl;
  }
  h3 {
    @apply font-medium text-2xl md:text-3xl xl:text-4xl;
  }
  h4 {
    @apply font-medium text-xl md:text-2xl xl:text-3xl;
  }
  h5 {
    @apply font-medium text-lg md:text-xl xl:text-2xl;
  }
  h6 {
    @apply font-medium text-base md:text-lg xl:text-xl;
  }
}

@layer utilities {
  .button {
    @apply text-primary bg-dark-1 border border-dark-2 px-4 py-2 rounded-xl font-semibold;
  }

  .button:hover:not(:disabled) {
    @apply text-dark bg-primary border border-dark-3;
  }

  .button:disabled {
    @apply cursor-progress opacity-40;
  }

  .tooltip {
    @apply hidden text-[0.8rem];
  }

  .warning {
    @apply text-[#d90429] opacity-100;
  }

  .spinner {
    @apply border-4 rounded-full border-primary inline-block relative box-border;
  }

  .spinner::after,
  .spinner::before {
    @apply content-[''] absolute box-border -left-[8px] top-0 bg-blue size-[8px] rounded-full;
  }

  .spinner::before {
    @apply left-auto top-auto -right-[8px] bottom-0;
  }

  .shell {
    @apply absolute border border-primary rounded-full;
  }

  .electron {
    @apply size-5 rounded-full bg-primary -translate-x-1/2 -translate-y-1/2;
  }
}

/* Style the box under mouse cursor  */
.cursor {
  /* Variables */
  --x: 0px;
  --y: 0px;
  --visible: hidden;
  --visibility-duration: 0s;
  --visibility-timing: ease-in;
  --visibility-delay: 0s;
  /* style */
  visibility: var(--visible);
  opacity: 1;
  position: fixed;
  left: var(--x);
  top: var(--y);
  width: 80px;
  height: 80px;
  filter: blur(50px);
  border-radius: 50%;
  background: linear-gradient(90deg, #3f2b96 0%, #a8c0ff 100%);
  transform: translate(-50%, -50%);
  z-index: -999;
  transition:
    visibility var(--visibility-duration) var(--visibility-timing)
      var(--visibility-delay),
    opacity 0.4s ease-in-out;
}
