.error-404-main-container {
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.error-404-na-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.error-container {
    margin-top: 200px;
}

.error-text {
    font-size: 1.6rem;
    font-weight: 600;
}

.error-home-link {
    font-weight: 600;
    text-decoration: none;
    color: #6090e8;
}