.error-404-main-container {
    display: flex;
    height: 100lvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-text {
    font-size: 1.6rem;
    font-weight: 600;
}

.error-home-link {
    font-weight: 600;
    text-decoration: none;
    color: var(--text-blue);
}