/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* root style */
:root {
  background-color: #0c0c0c;
  color: #efefef;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  /* prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer base {
  .button {
    @apply text-primary bg-dark-1 border border-dark-2 px-4 py-2 rounded-xl font-semibold;
  }

  .button:hover:not(:disabled) {
    @apply text-dark bg-snow-white border border-dark-3;
  }

  .button:disabled {
    @apply cursor-progress opacity-40;
  }

  .tooltip {
    @apply hidden text-[0.8rem];
  }

  .warning {
    @apply text-[#d90429] opacity-100;
  }

  .spinner {
    @apply border-4 rounded-full border-snow-white inline-block relative box-border;
  }

  .spinner::after,
  .spinner::before {
    @apply content-[''] absolute box-border -left-[8px] top-0 bg-blue size-[8px] rounded-full;
  }

  .spinner::before {
    @apply left-auto top-auto -right-[8px] bottom-0;
  }
}
